.idea/*
.idea/vcs.xml
.ieda/workspace.xml
build/*
cmake-build-debug/*
.vscode/*
FLOW/*

dependencies/x86/include/opencv*
dependencies/x86/lib/libopencv*
dependencies/x86/lib/pkgconfig*
dependencies/src/opencv*